// Default Scss Config (CSS module exports for JS theme generation)

@import "./_variables.scss";

// Material UI variables
:export {
    palettePrimaryMainColor: $color_primary;
    paletteSecondaryMainColor: $color_secondary;

    globalFontFamily: $font_family;
    globalFontSize: $font_size;
    basicFontColor: $font_color ;

    globalALinkColor: $a_color;

    h1Color: $color_primary;
    h2Color: $color_primary;
    h3Color: $color_primary;
    h4Color: $color_primary;
    h5Color: $color_primary;
}
